.content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 40%;
    background: rgba(0, 0, 0, 0.25);
    padding: 0 3%;
}
.content__card{
    width:calc(100% / 3);
    padding: 1%;

}
@media (max-width: 800px) {
    .content {
      flex-direction: column;
    }
  }