.navbar{
    background-color: #fff;
    border-bottom: 1px solid #e7e7e7;
    border-radius: 0;
    box-shadow: 0 1px 0 rgba(0,0,0,.05);
    padding: 0 4%;
    height: 10vh;
}
.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navbar__logo{
    font-size:1.5rem;
    font-weight: bold;
    color:rgba(0, 157, 255, 0.8);
}
.navbar__menu > a{
    color: rgba(5, 5, 5, 0.753);
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 1em;
}

.navbar__menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 2rem;
}
.navbar__blog{
    margin-left: auto;
}